@tailwind base;
@tailwind components;
@tailwind utilities;

#bg-Img{
  background-image: url("../public/bgImg.png");
  width: 100%;
  background-position: center;
  object-fit: cover;
  background-size: cover;
}